@model IEnumerable<MvcCosmosAzure.Models.Vehiculo>

@{
    ViewData["Title"] = "Vehiculos";
}

<h1>Vehiculos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Buscador">Buscador Coches</a>
</p>
@if (Model != null)
{
    <table class="table-borderless table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Coche</th>
                <th>Imagen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Marca @item.Modelo</td>
                    <td>
                        <img width="250" height="150" src="@item.Imagen" />
                    </td>
                    <td>
                        <a asp-controller="Coches"
                           asp-action="Details"
                           asp-route-id="@item.Id"
                           class="btn btn-primary btn-sm">
                            Details
                        </a>
                        <a asp-controller="Coches"
                           asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-warning btn-sm">
                            Edit
                        </a>
                        <a asp-controller="Coches"
                           asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
