@model IEnumerable<MvcCoreCacheRedis.Models.Producto>

@{
    ViewData["Title"] = "Favoritos";
}

<h1>Favoritos Cache Redis</h1>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <img src="@item.Imagen" width="150" height="150" />
                    </td>
                    <td>
                        <a asp-controller="Productos"
                           asp-action="Details"
                           asp-route-id="@item.IdProducto"
                           class="btn btn-dark">
                            Details
                        </a>
                        <a asp-asp-controller="Productos"
                           asp-action="DeleteFavorito"
                           asp-route-idproducto="@item.IdProducto"
                           class="btn btn-danger">
                            Delete Favorito
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

