@model Empleado

<h2 class="text-primary">
    Detalles API Empleado
</h2>

<p>
    <a asp-controller="Empleados"
       asp-action="Index">
        Back to Index
    </a>
</p>

<ul class="list-group">
    <li class="list-group-item">
        ID Empleado: @Model.IdEmpleado
    </li>
    <li class="list-group-item">
        Apellido: @Model.Apellido
    </li>
    <li class="list-group-item">
        Oficio: @Model.Oficio
    </li>
    <li class="list-group-item">
        Salario: @Model.Salario
    </li>
    <li class="list-group-item">
        ID Departamento: @Model.IdDepartamento
    </li>
</ul>