@model IEnumerable<MvcCoreAzureStorage.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Azure Tables</h1>

<p>
    <a asp-action="Create" asp-controller="AzureTables">Create New</a>
    |
    <a asp-action="ClientesEmpresa" asp-controller="AzureTables">Buscador clientes</a>
</p>
@if (Model != null)
{
    <table class="table-borderless table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Empresa)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>
                    <td>
                        <a asp-controller="AzureTables"
                           asp-action="Details"
                           asp-route-partitionkey="@item.PartitionKey"
                           asp-route-rowkey="@item.RowKey"
                           class="btn btn-primary btn-sm">
                            Details
                        </a>
                        <a asp-controller="AzureTables"
                           asp-action="Delete"
                           asp-route-partitionkey="@item.PartitionKey"
                           asp-route-rowkey="@item.RowKey"
                           class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

