@model IEnumerable<MvcCoreSasStorage.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<h1>Azure Alumnos SaS Token</h1>

<form method="post">
    <label>Introduzca curso</label>
    <input type="text" name="curso" class="form-control" />
    <button class="btn btn-primary">
        Mostrar alumnos
    </button>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdAlumno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nota)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAlumno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
